.bb-table {
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    overflow: hidden;
}
.bb-table__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.bb-table__cell {
    height: 45px;
    line-height: 43px;
    padding: 0 15px;
    border-right: 1px solid #d6d6d6;
}
.bb-table__cell:last-child {
    border-right: none;
}
.bb-checkbox {
    font-size: 14px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bb-checkbox:hover .bb-checkbox__box {
    border: 2px solid #ff8272;
}

.bb-checkbox__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.bb-checkbox input {
    display: none;
}

.bb-checkbox input:checked + .bb-checkbox__box {
    border: 2px solid #ff8272;
    background-color: #ff8272;
}

.bb-checkbox input:checked + .bb-checkbox__box::before {
    display: block;
}

.bb-checkbox__title {
    color: #242626;
}

.bb-checkbox__box {
    display: inline-block;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    position: relative;
    top: 4px;
}

.bb-checkbox__box::before {
    display: none;
    content: '\2714';
    font-size: 13px;
    line-height: 1;
    color: #fff;
    position: absolute;
    top: 1px;
    left: 2px;
}

.bb-checkbox--big:hover .bb-checkbox__box {
    border-color: #585a59;
}

.bb-checkbox--big input:checked + .bb-checkbox__box {
    background-color: #ff8272;
    border-color: transparent;
}

.bb-checkbox--big input:checked + .bb-checkbox__box::after {
    left: auto;
    right: 0;
    border-color: transparent;
}

.bb-checkbox--big .bb-checkbox__box {
    display: block;
    width: 40px;
    background-color: #585a59;
    border-radius: 10px;
}

.bb-checkbox--big .bb-checkbox__box::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    position: absolute;
    top: 2%;
    left: 0px;
    height: 96%;
}

.bb-checkbox--big .bb-checkbox__box::before {
    color: #fff;
    left: 4px;
}

.bb-checkbox--radio {
    background-color: transparent;
}

.bb-checkbox--radio:hover input:checked + .bb-checkbox__box {
    border-color: #ffa296;
}

.bb-checkbox--radio:hover input:checked + .bb-checkbox__box::before {
    background-color: #ffa296;
}

.bb-checkbox--radio input:checked + .bb-checkbox__box {
    border: 2px solid #ff8272;
    background-color: transparent;
}

.bb-checkbox--radio input:checked + .bb-checkbox__box::before {
    display: block;
}

.bb-checkbox--radio .bb-checkbox__box {
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
}

.bb-checkbox--radio .bb-checkbox__box::before {
    display: none;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff8272;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bb-checkbox--radio_inline {
    padding: 7px 0 9px;
    width: 50%;
    color: #585a59;
    border: 1px solid #e0e0e0;
    border-right-color: transparent;
    background-color: #f9f9f9;
}

.bb-checkbox--radio_inline:first-child {
    border-radius: 2px 0 0 2px;
    border-color: #e0e0e0;
    border-right-color: transparent;
}

.bb-checkbox--radio_inline:last-child {
    border-radius: 0 2px 2px 0;
    border-color: #e0e0e0;
}

.bb-checkbox--radio_inline:hover {
    border-color: #464646;
}

.bb-checkbox--radio_inline.is-checked {
    background-color: #fff;
    color: #585a59;
}

.bb-checkbox--radio_inline.is-checked::before {
    color: #ff8272;
}

.bb-checkbox--radio_inline .bb-checkbox__box {
    display: none;
}

.bb-checkbox--inline {
    border: 1px solid #585a59;
    border-right-color: transparent;
    position: relative;
    z-index: 20;
}

.bb-checkbox--inline:first-child {
    border-radius: 4px 0 0 4px;
}

.bb-checkbox--inline:last-child {
    border-right: 1px solid #585a59;
    border-radius: 0  4px 4px 0;
}

.bb-checkbox--inline:hover {
    border-color: #464646;
    border-right-color: transparent;
    color: #000;
}

.bb-checkbox--inline:hover + .bb-checkbox--inline {
    border-left-color: #464646;
}

.bb-checkbox--inline:hover:last-child {
    border-right: 1px solid #464646;
}

.bb-checkbox--inline.is-checked {
    color: #fff;
    background-color: #ff8272;
}

.bb-checkbox--inline.is-checked:hover {
    color: #fff;
}

.bb-checkbox--inline.is-checked + .bb-checkbox--inline,
.bb-checkbox--inline.is-checked + .bb-checkbox--inline.is-checked {
    border-left-color: #fff;
}

.bb-checkbox--inline input:checked + .bb-checkbox__box {
    background-color: #C4C4C4;
}

.bb-checkbox--inline .bb-checkbox__box {
    display: none;
}
.lk-service__name {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lk-service__price {
    width: 24%;
}
.lk-service__time {
    width: 20%;
}
.lk-service__item_child .lk-service__name {
    margin-left: 18px;
}
.lk-service__header {
    border-bottom: 1px solid #d6d6d6;
}

.profile-editor__input {
    width: 300px;
    position: relative;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.working-hours__item {
    margin-bottom: 10px;
    position: relative;
}

.working-hours__item, .working-hours__time, .working__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.working-hours__day {
    margin-right: 10px;
}

.profile-editor__input .bb-checkbox:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.working-hours .bb-checkbox {
    width: 40px;
    margin-right: 0;
}

.profile-editor__input input {
    width: 100%;
    height: 32px;
    line-height: 32px;
}

.bb-checkbox input, .noUi-handle::before {
    display: none;
}

.bb-date__input, .bb-input__input, .profile-editor__input input {
    height: 40px;
    padding: 0 15px;
    font-family: roboto-400,sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #585a59;
    outline: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
}

.lk-request__text li, .working-hours .bb-checkbox__title {
    font-size: 13px;
}

.bb-checkbox__title {
    color: #242626;
}

.working-hours .bb-checkbox {
    width: 50px;
    margin-right: 0;
}

.working-hours__time-item {
    min-width: 50%;
}

